*{
    margin: 0;
    padding: 5px 0;
    font-family: gill sans, sans-serif;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

ul {
    list-style-type: none;
}
img {
    width: 300px;
    height: 300px;
}

.header {
    width: 600px;
}    

.item, h1 {
    border-bottom: 1px solid grey;
    font-weight: 700;
}
.fa-plus {
    float: right;
    font-size: 15px;
}

.image {
    display: flex;
    justify-content: center;
}
.image{
    display: none;
}
ul li:hover .image{
    display: block;
}